

<div class="login_form">
  <h2 class="signin">LOG IN</h2>
  <div class="login">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form_row">
        <%= f.email_field :email, placeholder: "Email"%>
      </div>
      <div class="form_row">
      <%= link_to "(forgot password)", new_password_reset_path %>
      </div>
      <div class="form_row">
      <%= f.password_field :password, placeholder: 'Password' %>
      </div>
      <div class="form_row">
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>

        <span>Remember me on this computer</span>
        </div>
      <% end %>
      <div class="form_row">
        <%= f.submit "SIGN IN", class: "btn btn-green loginbtn" %>
      </div>
    <% end %>
    <p class="signup_link">Don't have an account? <%= link_to " Sign up", signup_path %></p>
  </div>
  <h2 class="signin">Or</h2>
  <div class="login">
        <form>
          <div class="form_row">
          <%= link_to 'CONTINUE WITH LINKEDIN', '/auth/linkedin', class: "btn btn-green loginbtn linkedinbtn" %>
            
          </div>
        </form>
      </div>
</div>

