
			<div class="login login1">
				<%= form_for([@company,@position], :html => {class: "form-horizontal", role: "form"}) do |f| %>
					<div class="form_row form_row1">
						<div class="form_label">Position/Job Title</div>
						<div class="form_element"><%= f.text_field :title, 
                                    placeholder: "Position/Title" %></div>
						<div class="clearfix"></div>
					</div>
					<div class="form_row form_row1">
					<div class="form_label">Internal level</div>
					<div class="form_element"> 
						<% @company.internal_levels.each do |l| %>
						  <%= check_box_tag "position[internal_level_ids][]", l.id, @position.internal_level_ids.include?(l.id) %>
						  <%= l.name %><br>
						<% end %>
					</div>
					<div class="clearfix"></div>
					</div>
					
					
					<div class="form_row  form_row1">
					<div class="form_label">Average Years of career exerience required at this level?</div>
					<div class="form_element"><%= f.text_field :avg_yrs_exp, 
                                    placeholder: "Avg years of experience" %></div>
					<div class="clearfix"></div>
					</div>
					
					<div class="form_row form_row1">
					<div class="form_label">job desc</div>
					<div class="form_element"><%= f.text_area :description, 
                                    placeholder: "job description" %></div>
					<div class="clearfix"></div>
					</div>
					<div class="form_row form_row1">
					<div class="form_label">Job Expectation</div>
					<div class="form_element"><%= f.text_area :job_expectation, 
                                    placeholder: "job expectation" %></div>
					<div class="clearfix"></div>
					</div>
					<div class="form_row form_row1">
					<div class="form_label">Criteria for next level</div>
					<div class="form_element"><%= f.text_area :criteria_for_next_level,
                                    placeholder: "Critera for next level" %></div>
					<div class="clearfix"></div>
					</div>
					
					<div class="bottom_btns1">
						<div class="cancel cancel1"><%= link_to "Cancel", company_path(@company) %> </div>
						<%= f.submit class: " btn btn-green edit1" %>
					
						<div class="clearfix"></div>
					</div>
				<%end%>
				<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					</div>
			</div>
			
			
		
			
	

