<%= form_for(@user) do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="form_row">
    <%= f.text_field :name, placeholder: "Full Name" %>
  </div>
  <div class="form_row">
    <%= f.text_field :email, placeholder: "Email Address" %>
  </div>
  <div class="form_row">
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <div class="form_row">
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password"%>
  </div>

  <div class="form_row">
        <%= f.submit "SIGN UP", class: "btn btn-green loginbtn" %>
      </div>
<% end %>



 