

<td > <%= check_box_tag "user_ids[]", user.id %></td>
<td><div class="companyLogoPic1"><%= image_tag(user.picture.url(:thumb).to_s) if user.picture? %></div></td>
<td ><%= user.email %></td>
<td ><span><%= user.name%> </span></td>
<td ><%= user.created_at %></td>
<td ><%= user.activated %> </td>
<td ><%= user.admin %> </td>
<td ><%= user.last_login%></td>