<table class="table table-hover table-condensed">
  <thead>
  	<tr>
  		<th>Title </th>
  		<th>Job Description</th>
  		<th>Job Expectation </th>
  		<th> Avg Years Experience</th>
  		<th> Criteria for next level</th>
  	</tr>
  </thead>
  <tbody>
  	<%= @positions.each do |position| %>
  		<tr>
  			<td> <%= position.title %> </td>
  			<td> <%= position.description %> </td>
  			<td> <%= position.job_expectation %> </td>
  			<td> <%= position.avg_yrs_exp %> </td>
  			<td> <%= position.criteria_for_next_level %> </td>

  		</tr>
  	<% end %>
  </tbody>
</table>