
<div class="header1" id="header"><!--header section starts from here-->
    <div class="container1 container768">
      <div class="logo_section"><%= link_to image_tag('logo.PNG'), root_path, id: "logo"%></div>

      <div class="menuIcon"><%= image_tag "menuicon.png", class: "icon" %></div>
      <div class="headermenu">
        <ul class="headermenulist inner_page" id="nav">
          
          <li><%= link_to "Home", root_path %></li>

          <% if logged_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "Companies", companies_path%></li>
            <% end %>
            <li><%= link_to "Users", users_path %></li>
            <li class="hsubs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=current_user.name%> <b class="caret"></b>
            </a>
            <ul class="subs">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>

        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>




