<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Companyinsights</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	
    
  	<div class="wrapper">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    	<%= yield %>
    
      <%= render 'layouts/footer' %>
      
    </div>

  </body>
</html>
